<form method="post" action="/courses/store">
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name" ><br>
  <label for="description">description</label><br>
  <input type="text" id="description" name="description" ><br><br>
  <label for="image">image</label><br>
  <input type="text" id="image" name="image" ><br><br>
  <input type="submit" value="Submit">
</form> 