<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    .styled-input {
        font-size: 40px; /* Đặt kích thước chữ */
        font-weight: bold; /* Đặt độ đậm */
        border: none; /* Xóa đường viền */
        outline: none; /* Xóa đường viền khi tập trung */
        background-color: transparent; /* Xóa nền */
        width: calc(100% - 40px);
    }
    .styled-input:active{
        outline: none;
        border: none;
    }
    .currency {
        font-weight: 700;
        position: absolute;
        bottom: 0%;
        right: 40%;
        transform: translateY(-50%);
}
</style>
<body>
{{> header}}
    <div style="width:100%;background-color:#fff">

    <div class="body_main">
            <div class="Box_main">
                <div class="Box_main_left">
                    <div class="left_top">
                        <img class="SP_img" src="/{{sanphams.images}}" alt="">

                    </div>
                </div>
                <div class="Box_main_right">
                    <div class="right_title">
                        <a class="top-contentleft_text" href="/">TRANG CHỦ</a>
                        <p> &nbsp; / &nbsp;&nbsp; </p>
                        <a class="top-contentleft_text" href="http://localhost:3000/products/" style="color: black;"><b>CỬA HÀNG</b></a>
                    </div>
            
                    <form action="/bagcart/cart" method="GET">
                        <div>
                            <input style="color: rgb(235, 169, 28);" class="styled-input" type="text" placeholder="không có sản phẩm" name="name" value="{{sanphams.name}}" readonly>
                        </div>
                        <div style="display: inline-flex; align-items: baseline; position: relative">
                            <h2>Giá:</h2>
                            <div>
                                <input class="styled-input" type="text" placeholder="Chưa có giá" id="gia" name="gia" value="{{sanphams.gia}}" readonly>
                            </div>
                        </div>
                        <div>
                            <h2 style="margin-bottom:0px ;">
                                Mô tả: 
                            </h2>
                            <textarea class="styled-input" style="font-size: 20px;" name="mota" id="" cols="60" rows="5" readonly>{{sanphams.mota}}</textarea>
                        </div>
                        <div>
                            <input class="btn btn-outline-secondary" type="submit" value="Thêm vào giỏ">
                        </div>
                    </form>

                </div>
            </div>



        <div class="mid">
            <div class="mid-main">
                <div class="mid-top">
                    <div class="top-item">
                        <a class="top-item-text" style="color: black;" href="">MÔ TẢ</a>
                    </div>
                    <div class="top-item1">
                        <a class="top-item-text text" href="">ĐÁNH GIÁ (0)</a>
                    </div>
                </div>
                <div class="mid-bottom">
                    <div style="height: 200px;width: 1190px;margin: auto;padding-top: 40px;">
                        <p class="text1" style="margin-bottom: 20px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                            tristique auctor.
                            Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper.
                            Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
                        </p>
                        <p class="text1">
                            Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum
                            turpis eros egetvelit.
                            Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis
                            vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat
                            vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus,
                            consequat et blandit et, luctus a nunc.
                            Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    const VND = new Intl.NumberFormat('vi-VN', {
  style: 'currency',
  currency: 'VND',
});

var price = document.getElementById('gia').value
price = VND.format(price)
document.getElementById('gia').value = price
</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>