
<div style="height: 98px;width: 100%;background-color: #353535;">

</div>
<div class="body">
    <div class="body_main">
        <div class="body_top">
            <div class="top-contentleft" style="width:80%">
                <a class="top-contentleft_text" href="/Trangchu/index">TRANG CHỦ</a>
                <p> &nbsp; / &nbsp;&nbsp; </p>
                <a class="top-contentleft_text" href="/Trangchu/SanPham1" style="color: black;"><b>CỬA HÀNG</b></a>
            </div>
            <div class="top-contentright">
                <div>
                    @using (Html.BeginForm("SanPham", "TrangChu", FormMethod.Get))
                    {
                        @*<label>Lọc theo danh mục: </label>
                        <div>
                            @Html.DropDownList("IdSP", "-- Tất cả --")
                        </div>*@
                        <div style="display:flex;justify-content:space-between;align-items:center">
                        <label>Tìm kiếm sản phẩm: </label>
                            @Html.TextBox("Search")
                            <input type="submit" value="Tìm kiếm" />
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="body_main_bt">
        <div class="right_item">
            <div class="item_SP">
                @foreach (var item in Model)
                {
                    <div class="frames_box">
                        <div class="box_img">
                            <a href="@Url.Action("Detail", "TrangChu", new {id = item.Id})">
                                <img src="~/images/@item.images" alt="logo" class="frames_box_img">
                            </a>
                        </div>
                        <div class="frames_text" style="color:black">
                            <p>@item.Name </p>
                        </div>
                        <div class="frames_text_price">
                            <p>@string.Format("{0:#,0}", item.Gia)₫</p>
                        </div>
                        <div style="margin-top: 30px; text-align: center;">
                            <a href="/Cart/AddToCart/@item.Id" class="frames_button_buy">THÊM VÀO GIỎ</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
