<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>edit</title>
    <style>
        div {
            margin-bottom: 10px;
        }

        .IP {
            background-color: #6ebfc2;
            color: #fff;
        }
    </style>
</head>

<body>
    {{> abc}}
        <div class="table main-header" style="width: 80%">
        <form action="/quanlidonhang/{{dathangs._id}}?_method=PUT" method="post">
            <div class="form-group">
                    <label class="control-label col-md-2">Loại</label>
                    <div class="col-md-10 form-group">
                        <div class="dropdown" style="z-index: 2;">
                            <button id="button" class="btn btn-secondary dropdown-toggle form-control" type="button"
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Chọn loại
                            </button>
                            <ul class="dropdown-menu" style="width: 100%; text-align: center;"
                                aria-labelledby="dropdownMenuButton1">
                                <li class="btn form-control" onclick="myFunction1()" id="1">Đã thanh toán</li>
                                <li class="btn form-control" onclick="myFunction2()" id="2">Chưa thanh toán</li>
                            </ul>
                        </div>
                        <div style="">
                            <input id="trang_thai" class="form-control" name="trang_thai" type="text"  value=""
                                readonly>
                        </div>
                    </div>
                </div>
            <div class="form-group col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default IP"> Sửa</button>
                <a class="btn btn-danger" href="/" style="float: right;">Quay lại</a>
            </div>
        </form>
    </div>

</body>

</html>

<script>
    function myFunction1() {
        var id_1 = document.getElementById('1');
        var trang_thai = document.getElementById('trang_thai');
        trang_thai.value = id_1.textContent

    }

    function myFunction2() {
        var id_2 = document.getElementById('2');
        var trang_thai = document.getElementById('trang_thai');
        trang_thai.value = id_2.textContent
    }
</script>