    <div class="footer">
        <div class="footer_contain">
            <div class="item1">
                <div>
                    <img src="/images/logo.png" alt="logo">
                </div>
                <div class="box">
                    <i class="fa fa-solid fa-location-dot"></i>
                    <p class="box_text">235 Hoàng Quốc Việt</p>
                </div>
                <div class="box" style="width:140px;">
                    <i class="fa fa-phone"></i>
                    <p class="box_text"><a href="tel:0769220162">076 922 0162</a></p>
                </div>
                <div class="box" style="width:180px;">
                    <i class="fa fa-envelope"></i>
                    <p class="box_text"><a href="mailto:demonhunterg@gmail.com">haphong@gmail.com</a></p>
                </div>
                <div class="box" style="width:140px;">
                    <i class="fab fa-skype"></i>
                    <p class="box_text"><a href="skype:demonhunterp?chat">demonhunterp</a></p>
                </div>
            </div>
            <div class="item2">
                <div class="item2_title">
                    <p class="item2_text">MENU</p>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Trang Chủ</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Giới Thiệu</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Cửa Hàng</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Tin Tức</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Liên hệ</p>
                    </a>
                </div>
            </div>
            <div class="item2">
                <div class="item2_title">
                    <p class="item2_text">Hỗ TRỢ</p>
                </div>
                <div>
                    <a>

                        <p style="margin-left: 10px;">Chính sách bảo hành</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Chính sách đổi trả</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Miễn phí giao hàng</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Chăm sóc khách hàng</p>
                    </a>
                </div>
                <div>
                    <a>
                        <p style="margin-left: 10px;">Tư vấn mua hàng</p>
                    </a>
                </div>
            </div>
            <div class="item3">
                <div class="item3_title">
                    <p class="item2_text">DANH MỤC</p>
                </div>
                <div>
                    <p class="box_text">Đăng ký để nhận được được thông tin mới nhất từ chúng tôi.</p>
                </div>
                <div class="send_email">
                    <input type="text" class="form" placeholder="Email">
                    {{!-- <button class="d_btn-email btnemail "><i class="fa-solid fa-paper-plane"></i></button> --}}
                </div>
                <div class="item3_icon">
                    <i class="color fab fa-facebook-f"></i>
                    <i class="color1 fab fa-instagram"></i>
                    <i class="color2 fab fa-twitter"></i>

                </div>
            </div>
        </div>
    </div>