<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>

<body>
    {{> abc}}
    <div class="table main-header" style="width: 80%">
        <h2> Thêm mới</h2>
        <form action="/danhmucsanphams/store" method="POST">
            <div class="form-group">
                <label for="name" class="control-label col-md-2">Tên loại sản phẩm</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="name" name="name">
                </div>
            </div>
            <div style="display: none;" class="form-group">
                <label for="name" class="control-label col-md-2">id sản phẩm</label>
                <div class="col-md-10">
                    <input class="form-control" type="number" id="id_sp" name="id_sp">
                </div>
            </div>
            <div class="form-group col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default IP"> Thêm</button>
                <a class="btn btn-danger" href="/" style="float: right;">Quay lại</a>
            </div>
        </form>
    </div>
</body>

</html>