@model List<DAWEB.Models.DanhMucSanPham>

@{
    Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/ViewPage1.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DanhMucSanPham</title>
    <style>

        div {
            margin-bottom: 10px;
        }
        a {
            color: #fff
        }

            a:hover {
                color: #000;
            }
    </style>
</head>
<body>
    <div style="position: absolute; width: 1130px; right: 10px">
        <h2>Danh Mục Sản Phẩm</h2>

        <div style="width: 130px; height: 40px; background-color: #6ebfc2; align-items: center; display: flex; justify-content: center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">
            @Html.ActionLink("Thêm mới", "Add")
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Chức Năng</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td style="text-align:center;display:flex;justify-content:center;width:220px">
                        <div style="width: 90px; height: 40px; background-color: #6ebfc2; align-items: center; display: flex; justify-content: center; margin: auto;border-radius:10px">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                        </div>
                        <div style="width: 80px; height: 40px; background-color: #c63d3d; align-items: center; display: flex; justify-content: center; margin: auto; border-radius: 10px">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>