


<body style="text-align: center">
    <div style="height: 300px; padding-top: 100px;background-color:#fff">

        <h2 style="text-align:center">Quý khách đã đặt Hàng Thành Công</h2>
        <h2 style="text-align:center">Hàng sẽ sớm được gửi đến quý khách</h2>
        <a style="padding:15px 30px; background-color: red; border-radius: 20px;margin-top:30px; color: white" href="/">Tiếp tục mua hàng</a>
    </div>
</body>