<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
    <h1> Sign up form </h1>

    <form action="/users/register" method="POST">
        <input id="username" type="text" name="username" placeholder="username">
        <input type="text" name="address" placeholder="địa chỉ">
        <input type="number" id="myNumber" name="number" placeholder="số điện thoại">
        <input type="password" id="password" name="password" placeholder="password">
        <input style="display: none;" type="text" id="" name="active" placeholder="password" value="0">
        <input type="password"  id="confirmPassword" name="confirmPassword" placeholder="password2">
        <input type="submit" value="Submit">
    </form>

    <li><a href="http://localhost:3000/register">Sign up!!</a></li>
    <li><a href="http://localhost:3000/users">Login</a></li>
    <li><a href="http://localhost:3000/logout">Logout</a></li>
</body>

</html>
<script>
        
        
</script>